{% extends "base.html" %}

{% block title %}First Setup | HubSync{% endblock %}

{% from "components/buttons.html" import submit_button %}
{% from "components/inputs.html" import name_input, email_input, password_input, username_input %}
{% from "components/layout.html" import buttons_block, logo %}
{% from "components/texts.html" import paragraph, subtitle, title %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 form-container">
    <form class="w-100" style="max-width: 350px;" method="POST">
        {{ logo("mb-2") }}
        {{ title("HubSync", false) }}
        {{ subtitle("First Time Setup") }}
        {{ paragraph("It seems like this is your first time<br>Let's create your admin account") }}

        {{ name_input() }}
        {{ email_input() }}
        {{ username_input() }}
        {{ password_input(id="password1", placeholder="Enter a password") }}
        {{ password_input(id="password2", placeholder="Confirm your password") }}

        {{ buttons_block([submit_button("Set Up Account")]) }}
    </form>
</div>
{% endblock %}