{% extends "base.html" %}
{% block title %}Forgot Password | HubSync{% endblock %}

{% from "components/buttons.html" import submit_button, text_button %}
{% from "components/inputs.html" import email_input %}
{% from "components/layout.html" import buttons_block, logo %}
{% from "components/texts.html" import paragraph, title %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 form-container">
    <form class="w-100" style="max-width: 350px;" method="POST">
        {{ logo() }}
        {{ title("Forgot Password") }}
        {{ paragraph("Please enter your email to reset your password") }}

        {{ email_input() }}

        {{ buttons_block([
        submit_button("Reset Password"),
        text_button("Back to Login", "auth.login")
        ]) }}
    </form>
</div>
{% endblock %}