{% extends "base.html" %}

{% block title %}Login | HubSync{% endblock %}

{% from "components/buttons.html" import submit_button, text_button %}
{% from "components/inputs.html" import email_or_username_input, password_input %}
{% from "components/layout.html" import buttons_block, logo %}
{% from "components/texts.html" import paragraph, title %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 form-container">
    <form class="w-100" style="max-width: 350px;" method="POST">
        {{ logo() }}
        {{ title("Login") }}
        {{ paragraph("Please enter your credentials to log in") }}

        {{ email_or_username_input() }}
        {{ password_input() }}

        {{ buttons_block([
        submit_button("Log In"),
        text_button("Forgot Password?", "auth.forgot_password")
        ]) }}
    </form>
</div>
{% endblock %}