{% extends "base.html" %}
{% block title %}Reset Password | HubSync{% endblock %}

{% from "components/buttons.html" import submit_button %}
{% from "components/inputs.html" import password_input %}
{% from "components/layout.html" import buttons_block, logo %}
{% from "components/texts.html" import paragraph, subtitle, title %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 form-container">
    <form class="w-100" style="max-width: 350px;" method="POST">
        {{ logo() }}
        {{ title("Reset Password") }}
        {{ paragraph("Please enter your new password") }}

        {{ password_input(id="password1", placeholder="Enter your new password") }}
        {{ password_input(id="password2", placeholder="Confirm your password") }}

        {{ buttons_block([submit_button("Reset Password")]) }}
    </form>
</div>
{% endblock %}