{% macro modal_button(text, target, color="primary", title="") %}
<button type="button" class="btn btn-{{ color }}" data-bs-toggle="modal" data-bs-target="#{{ target }}"
    title="{{ title }}">
    {{ text|safe }}
</button>
{% endmacro %}

{% macro submit_button(text) %}
<button type="submit" class="btn btn-primary mt-3">{{ text|safe }}</button>
{% endmacro %}

{% macro text_button(text, url) %}
<a href="{{ url_for(url) }}" class="btn btn-link mt-1 btn-sm" role="button">{{ text|safe }}</a>
{% endmacro %}