{% extends "base.html" %}

{% block title %}Room {{ room.name }} | HubSync{% endblock %}

{% from "components/buttons.html" import modal_button %}
{% from "components/inputs.html" import name_input %}
{% from "components/texts.html" import title %}

{% block content %}
<div data-pull-to-refresh>
    <div class="row g-1 mb-3">
        <div class="col d-grid">
            <a href="{{ url_for('room.layouts') }}" class="btn btn-secondary" title="Go Back">
                <i class="bi bi-chevron-left"></i>{% if not current_user.is_admin() %} Go Back{% endif %}
            </a>
        </div>
        {% if current_user.is_admin() %}
        <div class="col-9 d-grid">
            {{ modal_button("Add Tray", "newTray") }}
        </div>
        <div class="col d-grid">
            {{ modal_button("<i class='bi bi-pencil-fill'></i>", "editRoom", "warning", "Edit Room") }}
        </div>
        {% include 'room/partials/edit_room.html' %}
        {% include 'room/partials/new_tray.html' %}
        {% endif %}
    </div>
    {{ title("Room " ~ room.name) }}

    {% for tray in room.trays %}
    <div class="card text-center mb-3">
        <div class="card-body">
            {% set height = tray.lights[0].height %}
            {% set width = tray.lights[0].width %}
            {% set total_cols = tray.lights | map(attribute='width') | sum %}

            {% set all_pots = [] %}
            {% for light in tray.lights %}
            {% for pot in light.pots %}
            {% set _ = all_pots.append(pot) %}
            {% endfor %}
            {% endfor %}

            {% if current_user.is_admin() %}
            <i class="bi bi-pencil-fill text-warning float-start" role="button" title="Edit Tray" data-bs-toggle="modal"
                data-bs-target="#editTray{{ tray.id }}"></i>
            {% if current_user.role == 'superadmin' %}
            <i class="bi bi-trash-fill text-danger float-end" role="button" title="Delete Tray" data-bs-toggle="modal"
                data-bs-target="#deleteTray{{ tray.id }}"></i>
            {% include 'room/partials/delete_tray.html' %}
            {% endif %}
            {% include 'room/partials/edit_tray.html' %}
            {% endif %}
            <h2 class="card-title">{{ tray.name }}</h2>
            <div class="light-grid" style="--grid-width: {{ total_cols }}; --grid-height: {{ height }};">
                {% for row in range(height) %}
                {% for col in range(total_cols) %}
                {% set idx = col * height + row %}
                {% if idx < all_pots|length %} {% set pot=all_pots[idx] %} <div class="pot">
                    Pot {{ idx + 1 }}
                    {% if pot.strain %}
                    <span class="strain-initials" title="{{ pot.strain.name }}">{{ pot.strain.initials }}</span>
                    {% else %}
                    <span class="no-strain">N/S</span>
                    {% endif %}
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
        <button class="btn btn-sm btn-outline-secondary mt-3" data-bs-toggle="collapse"
            data-bs-target="#trayDetails{{ tray.id }}" aria-expanded="false" aria-controls="trayDetails{{ tray.id }}">
            Toggle Details
        </button>
        <div class="collapse mt-3" id="trayDetails{{ tray.id }}">
            <div class="card card-body text-start">
                <h5>Details</h5>
                <ul class="list-unstyled mb-0">
                    <li><strong>Dimensions:</strong> {{tray.lights|length }}
                        <small>({{ width }}x{{ height }})</small>
                    </li>
                    <li><strong>Total Pots:</strong> {{ all_pots|length }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="w-100 text-center text-muted">No trays found</div>
{% endfor %}
</div>

<script src="{{ url_for('static', filename='js/pull-to-refresh.js') }}"></script>
{% endblock %}