{% extends "base.html" %}

{% block title %}{{ room.name }} Layout | HubSync{% endblock %}

{% from "components/buttons.html" import modal_button %}
{% from "components/inputs.html" import name_input %}
{% from "components/texts.html" import title %}

{% block content %}
<div data-pull-to-refresh>
    <div class="row g-1 mb-3">
        <div class="col d-grid">
            <a href="{{ url_for('room.layouts') }}" class="btn btn-secondary" title="Go Back">
                <i class="bi bi-chevron-left"></i>{% if not current_user.is_admin() %} Go Back{% endif %}
            </a>
        </div>
        {% if current_user.is_admin() %}
        <div class="col-10 d-grid">
            {{ modal_button("Add Tray", "newTray") }}
        </div>
        <div class="col-1 d-grid">
            {{ modal_button("<i class='bi bi-pencil-fill'></i>", "editRoom", "warning", "Edit Room") }}
        </div>
        {% endif %}
    </div>
    {{ title("Room " ~ room.name) }}

    {% for tray in room.trays %}
    <div class="card text-center mb-3">
        <div class="card-body">
            {% set rows = tray.lights[0].height %}
            {% set cols = tray.lights[0].width %}
            {% set num_lights = tray.lights|length %}
            <h2 class="card-title">{{ tray.name }}
            </h2>

            {% for row_index in range(cols) %}
            <div class="row g-1">
                {% for light in tray.lights %}
                {% for col_index in range(rows) %}
                {% set pot_index = col_index * cols + row_index %}
                {% set pot = light.pots[pot_index] %}
                <div class="col">
                    <div class="card {% if pot.is_on %}bg-success{% else %}bg-secondary{% endif %} text-white">
                        <div class="card-body p-1" style="font-size: 0.8rem;">
                            {% if pot.is_on %}
                            <i class="bi bi-lightbulb-fill"></i> On<br>
                            {% else %}
                            <i class="bi bi-lightbulb"></i> Off<br>
                            {% endif %}
                            {% if pot.strain %}
                            {{ pot.strain.initials }}
                            {% else %}
                            No plant
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="w-100 text-center text-muted">No trays found</div>
    {% endfor %}
</div>

{% include 'room/partials/edit_room.html' %}
{% include 'room/partials/new_tray.html' %}

<script src="{{ url_for('static', filename='js/pull-to-refresh.js') }}"></script>
{% endblock %}