<div class="modal fade" id="editMember{{ member.id }}" tabindex="-1" aria-labelledby="editMemberLabel{{ member.id }}"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editMemberLabel{{ member.id }}">Edit Staff Member</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-form-{{ member.id }}" method="POST"
                    action="{{ url_for('admin.edit_staff_member', user_id=member.id) }}">
                    {{ name_input(member.display_name, member.display_name) }}
                    {{ email_input(member.email, member.email) }}
                    {{ username_input(member.username, member.username) }}
                    {{ role_input(current_user.role, "Only Super Admins can change user roles", member.role) }}
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="submit" form="edit-form-{{ member.id }}" class="btn btn-primary">Save
                    Changes</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>