<div class="modal fade" id="newMember" tabindex="-1" aria-labelledby="newMemberLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newMemberLabel">Add Staff Member</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-member-form" method="POST">
                    {{ name_input("Enter a name") }}
                    {{ email_input("Enter a email") }}
                    {{ username_input("Enter a username") }}
                    {{ role_input(current_user.role, "Only Super Admins can assign Admin or Super Admin roles") }}
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="submit" form="add-member-form" class="btn btn-primary">Add Member</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>