{% extends "base.html" %}
{% block title %}Forgot Password | HubSync{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 form-container">
    <form class="w-100" style="max-width: 350px;" method="POST">
        <div class="text-center mb-5 mt-5">
            <img src="{{ url_for('static', filename='images/hubsync_logo.png') }}" alt="HubSync Logo" width="225">
        </div>
        <h1 align="center" class="mb-4">Forgot Password</h1>
        <p align="center" class="text-nowrap">Please enter your email to reset your password</p>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary mt-3">Reset Password</button>
        </div>
    </form>
</div>
{% endblock %}