{% extends "base.html" %}
{% block title %}Reset Password | HubSync{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center min-vh-100 form-container">
    <form class="w-100" style="max-width: 350px;" method="POST">
        <div class="text-center mb-5 mt-5">
            <img src="{{ url_for('static', filename='images/hubsync_logo.png') }}" alt="HubSync Logo" width="225">
        </div>
        <h1 align="center" class="mb-4">Reset Password</h1>
        <p align="center" class="text-nowrap">Please enter your new password</p>
        <div class="form-group">
            <label for="password1">New Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password1" name="password1"
                    placeholder="Enter your new password" required minlength="3"
                    oninput="this.value = this.value.replace(/\s/g, '')">
                <button type="button" class="password-toggle-btn" data-password-toggle
                    onclick="togglePasswordVisibility('password', this)">
                    <i class="bi bi-eye"></i>
                </button>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password2" name="password2"
                        placeholder="Confirm your password" required minlength="3"
                        oninput="this.value = this.value.replace(/\s/g, '')">
                    <button type="button" class="password-toggle-btn" data-password-toggle
                        onclick="togglePasswordVisibility('password2', this)">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="d-grid">
            <button type="submit" class="btn btn-primary mt-3">Reset Password</button>
        </div>
    </form>
</div>
{% endblock %}