<div class="modal fade" id="newRoom" tabindex="-1" aria-labelledby="newRoomLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="newRoomLabel">Add Room</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-room-form" method="POST">
                    {{ name_input("Enter room name") }}
                </form>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="submit" form="add-room-form" class="btn btn-primary">Add Room</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>